.header{
  display: flex;
  justify-content: space-between;
  border: 2.5px solid black;
  border-radius: 5;
  height: 120px;
  background-color: rgb(245, 244, 244);

}
.logo{
  height: 120px;
  width: 120px;
}

.nav-items > ul{
 display: flex;
 margin-right: 30px;
 list-style-type: none;
 font-size: 28px;
 color: rgb(3, 56, 63);
}
.nav-items >ul >li{
  padding: 15px;
}
.body-container{
  margin: 0px;
}
.res-card{
  height: 550px;
  width: 300px;
 border:2px solid rgb(231, 223, 223);
 padding: 5px;
 margin: 6px;
  
  
}
.res-card:hover{
  border: 3px solid orange;
  cursor: pointer;
}
.restaurant-conatiner{
  display: flex;
  flex-wrap: wrap;
}
.res-logo{
 width: 90%;
 padding: 3px;
 margin: 10px;
}
.search{
  padding: 15px;
}
.text-green-600{
  color: green;
}
.text-red-500{
  color: red;
}
.filter-btn{
  padding: 6px;
  color: rgb(239, 245, 247);
  border: 2px solid gray;
  border-radius: 6px;
  font-size: 20px;
  background-color:rgb(176, 6, 134);
  cursor: pointer;
  margin-right: 15px;

}
.reset-btn{
  padding: 8px;
  color: rgb(239, 245, 247);
  border: 2px solid gray;
  border-radius: 6px;
  font-size: 20px;
  background-color:rgb(203, 57, 32);
  cursor: pointer;
  margin-right: 20px;
}
.shimmerContainer{
  display:flex;
  flex-wrap: wrap;  
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;

  
}
.shimmerCard{
  height: 350px;
  width: 220px;
  border:2px solid rgb(231, 223, 223);
  padding: 2px;
  margin: 6px;
  background-color: rgb(245, 244, 244);
}
.login{
  margin-right: 30px;
  font-size: 20px;
  padding: 5px;
  border: 2px solid rgb(61, 64, 65);
  border-radius: 4px;
  background-color: rgb(75, 220, 215);
  cursor: pointer;
}
.logout{
  margin-right: 30px;
  font-size: 20px;
  padding: 5px;
  border: 2px solid rgb(61, 64, 65);
  border-radius: 4px;
  background-color: rgb(203, 57, 32);
  cursor: pointer;
}
.searchCntainer{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.search{
  padding: 5px;
  width: 40%;
  border: 2px solid rgb(61, 64, 65);
  border-radius: 4px;
  font-size: 20px;
}